@media (max-width: 520px) {
  p {
    font-size: 1.5rem;
  }

  .dropdown {
    display: block;
    margin-left: -2rem;
  }
  .dropdown-menu {
    width: 100%;
  }

  .contact-button {
    display: none !important;
  }

  .li-dark-mode {
    display: none !important;
  }

  .intro__text > p {
    font-size: 1.5rem;
  }

  nav > ul > li {
    display: none;
  }

  ul {
    height: 100%;
    width: 100%;
  }
  // .skills ul {
  //   width: 100%;
  // }

  // .skills li {
  //   flex-direction: column;
  //   width: 100vh;
  // }

  // .skills p {
  //   font-size: 2rem;
  //   transform: 1s;
  // }

  .skills ul {
    width: 100%;
    justify-content: center;
  }
  .skills li {
    //flex-direction: column;
    width: 100vh;
  }

  .skills p {
    font-size: 2rem;
  }

  body {
    overflow-x: hidden;
  }

  .portfolio__inner {
    display: flex;
    flex-direction: column;
  }

  article {
    width: 100%;
  }
}

@media (width >= 520px) {
  .dropdown {
    display: none;
  }
}

@media (min-width: 520px) and (max-width: 767px) {
  .skills li {
    display: flex;
    align-items: center;
  }
}
