@media (max-width: 520px) {
  p {
    font-size: 1.5rem;
  }

  .dropdown {
    display: block;
  }

  nav > ul > li {
    display: none;
  }

  ul {
    height: 100%;
  }

  ul li {
    font-size: 2rem;
  }

  ul div {
    width: 100vh;
  }

  body {
    overflow-x: hidden;
  }
}
