@mixin icon($image) {
  background: {
    image: url($image);
    repeat: no-repeat;
    height: 5rem;
    width: 5rem;
  }
}

@mixin scrollbar(
  $size: 0.75rem,
  $foreground-color: var(--text-color),
  $background-color: var(--secondary-color)
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 0.75rem;
    box-shadow: 1rem solid black;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin responsive($value) {
  @media (max-width: $value) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin placeholder($value) {
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    margin-left: $value;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    margin-left: $value;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    margin-left: $value;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
  }
  margin-left: $value;
}

@mixin button-style {
  text-align: center;
  background: var(--text-color);
  border: none;
  color: var(--background-color);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

@mixin button-style-hover {
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.2s ease-in;
}
