@import "variables";

    :root {
        //--background-color: rgb(214, 7, 7);
        --secondary-color: darkblue;
        --text-color: #121416d8;
        --link-color: #543fd7;
        --transition-duration: .3s 

    }
    
  