@import "variables";

:root {
  --secondary-color: darkblue;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --transition-duration: 0.3s;
  --succes-color: #4bb543;
  --danger-color: #ff0000;
}
