@import "variables";
@import "root";
@import "fonts";
@import "grid";
@import "media-queries";
@import "mixins";
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background var(--transition-duration) ease-in-out;
  font-family: "Quicksand Medium", sans-serif;
  z-index: 0 !important;
  scroll-behavior: smooth;
  @include scrollbar;
  margin: 0;
  padding: 0;
  //messes up the sticky nav bar
  //-webkit-transform: translateZ(0);
}

a {
  color: var(--link-color);
}

button {
  background: transparent;
  border: none !important;
  font-size: 0;
}

nav {
  position: fixed;

  left: 0;
  width: 100%;
  border-radius: 0.3rem;
  background-color: white;
  height: 4rem;
  top: 0;
  background-color: rgba(255, 255, 255, 0.116);
  z-index: 3 !important;

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  ul {
    gap: 2.5rem;
  }
}

.link_hover {
  box-shadow: inset 0 0 0 0 var(--text-color);
  margin: 0 -0.25rem;
  height: 2rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.link_hover:hover {
  box-shadow: inset 10rem 0 0 0 var(--text-color);
  color: var(--background-color);
}

html[data-theme="light"] {
  --background-color: #fff;
  --secondary-color: rgb(255, 255, 255);
  --text-color: #121416d8;
  --link-color: #2f1f86;
}

html[data-theme="dark"] {
  --background-color: #212a2e;
  --secondary-color: rgb(37, 37, 46);
  --text-color: #f7f8f8;
  --link-color: #828fff;
}

.__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.submit-btn {
  @include button-style;
}

.intro {
  justify-content: center;
  background-color: var(--secondary-color);

  &__image {
    align-items: center;
    object-fit: contain;
    max-height: 25rem;
    border-radius: 99px;

    @include responsive(533px) {
      height: 70%;
      border-radius: 20rem;
    }
  }
}

.modal_message {
  border: 2px solid transparent;
  display: none;
  padding: 1rem;
}

.bounce {
  outline: 0;
  border-color: red;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

.modal_message--succes {
  display: block;
  transform: 1s display;
  border-color: var(--succes-color);
}

.modal_message--danger {
  display: block;
  border-color: var(--danger-color);
}

.skills {
  display: row;
}

.reference-links {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  @include responsive(533px) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
  }
  @include responsive(702px) {
    margin: 2rem;
  }
}
.skills-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.story {
  &_text {
    padding: 1rem;
    margin-top: 5rem;
  }
}
.portfolio {
  text-align: center;
  &__inner {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  img {
    height: 4rem;
    margin-bottom: 2rem;
  }
  &--card {
    padding: 1.5rem;
    border-radius: 16px;
    background: rgba(119, 102, 102, 0.116);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0;
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;

    p {
      text-decoration: none;
      text-align: center;
      display: contents;
    }
  }
  &--card:hover {
    margin-top: -1rem;
  }
  &--link {
    text-decoration: none;
    color: black;
    text-decoration-line: none;
  }
  &--link:hover {
    text-decoration: underline;
  }

  @include responsive(533px) {
    width: 100%;
    &--card {
      flex: 0 0 100%;
      margin: 2rem;
    }

    &__inner {
      align-items: center;
    }
  }
}

h1,
h2 {
  text-align: center;
}

li {
  display: flex;
  list-style: none;
}
.icon {
  height: 5rem;
  width: 5rem;
}

p,
li {
  font-size: 2.9vmin;
  text-size-adjust: auto;
}

.align-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 2rem;
}

.dwnldbtn {
  @include button-style;
}

.dwnldbtn:hover {
  @include button-style-hover;
}

textarea::placeholder {
  @include placeholder(2rem);
}

#modal {
  background: var(--background-color);
  position: absolute;
  left: 25%;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  transform: scale(1.5); /* prefix me */
  opacity: 0;
  pointer-events: none;
  align-items: center;
  color: var(--text-color);
  @include flex-column;
  &_form {
    @include flex-column;
    width: 80%;
    gap: 1rem;
    padding: 2rem;
  }
  &_message {
    height: 200px;
    font-size: 2vh;
    margin-bottom: 3rem;
  }

  @include flex-column;
  gap: 2rem;
  input {
    font-size: 2vh;
    background-image: linear-gradient(grey);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  input:focus {
    border-color: var(--text-color);
    box-shadow: 5px 3px 5px var(--text-color);
    transition: box-shadow 0.4s ease-in;
  }
}
textarea:hover {
  border-color: var(--text-color);
  box-shadow: 5px 3px 5px var(--text-color);
  transition: box-shadow 0.4s ease-in;
}
textarea:focus {
  border-color: var(--text-color);
  box-shadow: 5px 3px 5px var(--text-color);
  transition: box-shadow 0.4s ease-in;
}

.submit-btn {
  @include button-style;
}

.submit-btn:hover {
  @include button-style-hover;
}

textarea::placeholder {
  //text-align: center;
  padding-left: 1rem;
}

textarea {
  padding: 1rem;
}
.dialogIsOpen #page-wrap {
  -webkit-filter: blur(5px) grayscale(50%);

  -webkit-transform: scale(0.9);
}

.dialogIsOpen #modal {
  transform: scale(1); /* prefix me */
  opacity: 1;
  pointer-events: auto;
}

#page-wrap,
#modal {
  transition: all 0.4s ease; /* prefix me */
}
#contact :hover {
  cursor: pointer;
}

.contact-button {
  cursor: pointer;
}

.close_button {
  cursor: pointer;
  color: var(--text-color);
}
.red {
  color: red;
}

.li-dark-mode {
  display: inline;
  bottom: 1.5rem;
  right: 1.5rem;
  position: relative;
}

.body.modal-open {
  overflow: hidden;
  position: fixed;
}

[data-animation-type="show"].is-ready {
  opacity: 0;
}

.p-io-animation__show {
  animation: show 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: both;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.h-100 {
  height: 100%;
}

.bg-color {
  background-color: var(--background-color);
}

.toggle-button-label {
  width: 4rem;
  height: 2rem;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 2rem;
  top: -0.4rem;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
input {
  font-family: "Quicksand Medium", sans-serif;
  font-size: 1.5vh;
}

.toggle-button-label:after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.hide-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 4rem;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.toggle-button-label,
.toggle-button-label:after {
  transition: 0.3s;
}
.toggle-button-label:active:after {
  width: 2rem;
}

.toggle-button-label svg {
  position: absolute;
  width: 120px;
  top: 40px;
  z-index: 100;
}
.toggle-button-label svg.sun {
  left: 40px;
  fill: #fff;
  transition: 0.3s;
}
.toggle-button-label svg.moon {
  left: 340px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + .toggle-button-label svg.sun {
  fill: #7e7e7e;
}
input:checked + .toggle-button-label svg.moon {
  fill: #fff;
}

.toggle-button-label svg {
  position: absolute;
  width: 1.5rem;
  top: 0;
  z-index: 100;
}
.toggle-button-label svg.sun {
  left: 0.35rem;
  fill: #fff;
  transition: 0.3s;
}
.toggle-button-label svg.moon {
  left: 2.35rem;
  fill: #ffff;
  transition: 0.3s;
}
input:checked + .toggle-button-label svg.sun {
  fill: #7e7e7e;
}
input:checked + .toggle-button-label svg.moon {
  fill: #fff;
}
.dropdown {
  @include responsive(520px) {
    display: block;
  }
  display: none;

  &_mobile {
    display: flex;

    justify-content: space-between;
    width: 100%;
    gap: 2rem;
  }
}
.dropdown-icon {
  height: 100%;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  cursor: pointer;
}

.dropdown span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  background-color: var(--background-color);
  padding: 0.75rem;
  border-radius: 1.25rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.image-white {
  filter: brightness(0) invert(1);
}
