@import "variables";
@import "root";
@import "fonts";
@import "grid";
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background var(--transition-duration) ease-in-out;
  font-family: 'Quicksand Medium', sans-serif;
  z-index: 1 !important;
}

a {
  color: var(--link-color);
}

button {
  background: transparent;
  border: none !important;
  font-size:0;
}

nav {
  position: fixed;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  border-radius: 0.3rem;
  background: white;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.116);
  z-index:2 !important;
  a {
    text-decoration: none;
    font-size: large;
    justify-content: center;
    margin: 0em 1em 1em 1em !important;
  }
}
a:hover {
  text-decoration: underline;
  filter: brightness(80%);
  transition:  var(--transition-duration);
  
}
  
html[data-theme='light'] {
  --background-color: #fff;
  --secondary-color: rgb(255, 255, 255);
  --text-color: #121416d8;
  --link-color: #2f1f86;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --secondary-color: rgb(37, 37, 46);
  --text-color: #F7F8F8;
  --link-color: #828fff;
}

.__icon{
  height: 2.5rem;
  width: 2.5rem

}

.intro {

  justify-content:center ;
  background-color: var(--secondary-color);

  
  &__image {
    //display: flex;
    align-items: center;
   object-fit: contain;
   max-height:25rem;
   border-radius: 99px;
  

  }

}


.skills {
  
  display: row;
  
 
}

.portfolio {
  text-align: center;

  img {
    height: 4rem;
    margin-bottom: 2rem;
    
  }
}

h1, h2 {
  text-align: center;
}

li {
  display: flex;
list-style: none;
align-items:center;
justify-content:center;
  }
.icon {
 
    height: 5rem;
    width: 5rem
}

p, li
{
  font-size: 2.90vmin;
  text-size-adjust: auto;

}

.align-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 2rem;
}
@media (max-width:520px){
p,
li {
  font-size: 1.5rem;
}

ul li {
font-size: 2rem;

}

ul div {
  width: 100vh;
}


}

.dwnldbtn {
  text-align: center;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.dwnldbtn:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

.contact-modal {
  display: block;
  height: 100vh;
  visibility: hidden;
  background-color: grey;
  background: grey;
  
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 5 !important;
  &_body {
    font-size: 2rem;
    background-color: #F7F8F8;
    justify-content: center;
    -webkit-animation: animatetop 4s ;
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border-radius: 2rem;
    border: 1px solid #888;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animatetop 3.4s  ease-in;

  }

    input {
    width: 10rem;
    align-self: center;
    margin: 2rem 0 2rem;
  }

 

}
.modal-body {
    font-size: 2rem;
    background-color: #F7F8F8;
    justify-content: center;
    -webkit-animation: animatetop 4s ;
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    animation: animatetop 1.4s  ease-in;
    //animation-name: animatetop;
    //animation-duration: 0.4s
  
}
#contact :hover {
  cursor: pointer;
}

.contact-button {
  button {
    color: red; }
}

.body.modal-open {
  overflow: hidden;
  position: fixed;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}