@import "variables";
@import "root";
@import "fonts";
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background var(--transition-duration) ease-in-out;
  
}

a {
  color: var(--link-color);
}

button {
  background: transparent;
  border: none !important;
  font-size:0;
}

nav {
  a {
    text-decoration: none;
    font-size: large;
    justify-content: center;
    margin: 0em 1em 1em 1em !important;
  }
}
a:hover {
  text-decoration: underline;
  filter: brightness(80%);
  transition:  var(--transition-duration);
  
}
  
html[data-theme='light'] {
  --background-color: #fff;
  --secondary-color: rgb(255, 255, 255);
  --text-color: #121416d8;
  --link-color: #2f1f86;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --secondary-color: rgb(37, 37, 46);
  --text-color: #F7F8F8;
  --link-color: #828fff;
}

.__icon{
  height: 2.5rem;
  width: 2.5rem
}

.intro {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  
  &__text {
    width: 40rem;
  }
  
  &__image {
    display: flex;
    align-items: center;
    
    &__img-1 {
      border-radius: 99px;
      height: 20rem;
      vertical-align: bottom;
    }

  }

}

p {
  // font-family: 'RobotoSlab Medium', sans-serif;
  font-family: 'Quicksand Medium', sans-serif;
  
}

a,
h1 {
  font-family: 'Quicksand Regular', sans-serif;
}
